###############################################################
## Copyright (C) 2016, PERRINN Limited.  All Rights Reserved ##
##                                                           ##
## This software is distributed under the Apache 2.0 license ##
## For usage rights, please contact contact@perrinn.com      ##
##                                                           ##
###############################################################

data_source = db.changeme.net
database = perrapp
database_user = perrchangeme
database_password = changemetoo
firebase_url = https\://perrinn-pilot.firebaseio.com/
firebase_json = perrinn-pilot.json
s3_bucket = bucket-name
redis_name = redis.changeme.net
message_queue = msgqueue